In [61]:
cd /Users/zhixuandai/Documents/uc\ berkeley/InfoViz/flights

/Users/zhixuandai/Documents/uc berkeley/InfoViz/flights

In [62]:
import pandas as pd
df = pd.read_csv('./flightsOfYear.csv', sep=',', header=0)

Index(['DAY_OF_YEAR', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_DELAY', 'SCHEDULED_TIME', 'DISTANCE',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED',
       'DAY_OF_WEEK_2', 'DAY_OF_WEEK_3', 'DAY_OF_WEEK_4', 'DAY_OF_WEEK_5',
       'DAY_OF_WEEK_6', 'DAY_OF_WEEK_7', 'AIRLINE_AS', 'AIRLINE_B6',
       'AIRLINE_DL', 'AIRLINE_EV', 'AIRLINE_F9', 'AIRLINE_HA', 'AIRLINE_MQ',
       'AIRLINE_NK', 'AIRLINE_OO', 'AIRLINE_UA', 'AIRLINE_US', 'AIRLINE_VX',
       'AIRLINE_WN', 'CANCELLATION_REASON_A', 'CANCELLATION_REASON_B',
       'CANCELLATION_REASON_C', 'ARRIVAL_DELAY_BIN'],
      dtype='object')

In [64]:
df.drop(['CANCELLATION_REASON_A','CANCELLATION_REASON_B','CANCELLATION_REASON_C','ARRIVAL_DELAY_BIN'],axis=1, inplace = True)

In [65]:
def get_date_of_week(row):
    date = 1
    if row['DAY_OF_WEEK_2']==1:
        date = 2
    elif row['DAY_OF_WEEK_3']==1:
        date = 3
    elif row['DAY_OF_WEEK_4']==1:
        date = 4
    elif row['DAY_OF_WEEK_5']==1:
        date = 5
    elif row['DAY_OF_WEEK_6']==1:
        date = 6
    elif row['DAY_OF_WEEK_7']==1:
        date = 7
    return date

df['date_of_week'] = df.apply(get_date_of_week,axis=1)

In [66]:
df.drop(['DAY_OF_WEEK_2', 'DAY_OF_WEEK_3', 'DAY_OF_WEEK_4', 'DAY_OF_WEEK_5',
       'DAY_OF_WEEK_6', 'DAY_OF_WEEK_7'],axis=1, inplace = True)

In [67]:
def get_airline(row):
    airlines = ['AIRLINE_AS', 'AIRLINE_B6','AIRLINE_DL', 'AIRLINE_EV', 
                'AIRLINE_F9', 'AIRLINE_HA', 'AIRLINE_MQ','AIRLINE_NK', 
                'AIRLINE_OO', 'AIRLINE_UA', 'AIRLINE_US', 'AIRLINE_VX','AIRLINE_WN']
    answer = ""
    for airline in airlines:
        if row[airline]==1:
            answer = airline[8:]
            break
    if answer == "":
        answer = "AA"
    if answer == "VX":
        answer = "AS"
    if answer == "US":
        answer = "AA"
    return answer

df['airline'] = df.apply(get_airline,axis=1)

In [68]:
df.drop(['AIRLINE_AS', 'AIRLINE_B6','AIRLINE_DL', 'AIRLINE_EV', 
                'AIRLINE_F9', 'AIRLINE_HA', 'AIRLINE_MQ','AIRLINE_NK', 
                'AIRLINE_OO', 'AIRLINE_UA', 'AIRLINE_US', 'AIRLINE_VX','AIRLINE_WN'], axis=1, inplace = True)

In [113]:
df.SCHEDULED_DEPARTURE = df.SCHEDULED_DEPARTURE.astype("int")
df.SCHEDULED_ARRIVAL = df.SCHEDULED_ARRIVAL.astype("int")

TypeError: cannot convert the series to <class 'int'>

In [81]:
def straighten_time(row):
    row['SCHEDULED_DEPARTURE'] = get_time(row['SCHEDULED_DEPARTURE'])
    row['SCHEDULED_ARRIVAL'] = get_time(row['SCHEDULED_ARRIVAL'])
    return row

def get_time(time):
    hour = str(int(time /100))
    minute = str(time %100)
    if len(hour) < 2:
        hour = "0"+hour
    if len(minute) < 2:
        minute = "0"+ minute
    answer = hour + ":" + minute
    return answer

df2= df.apply(straighten_time,axis=1)

,DAY_OF_YEAR,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,DIVERTED,CANCELLED,date_of_week,airline
0,222,ATL,TRI,1152,1.000000,71.0,227,1223,10.000000,0,0,1,DL
1,71,CLE,BWI,520,-5.000000,85.0,314,605,-19.000000,0,0,4,WN
2,307,STT,ATL,930,-1.000000,245.0,1599,1115,-12.000000,0,0,2,DL
3,347,RNO,SLC,736,-6.000000,83.0,422,879,-21.000000,0,0,7,DL
4,148,CVG,SFO,567,18.000000,294.0,2036,681,11.000000,0,0,4,DL
5,85,ATL,LGA,990,213.000000,130.0,762,1120,209.000000,0,0,4,WN
6,180,OGG,LAX,754,6.000000,321.0,2486,1255,-10.000000,0,0,1,DL
7,324,HNL,ITO,480,113.000000,54.0,216,534,116.000000,0,0,5,HA
8,152,CAK,ATL,1069,-5.000000,110.0,528,1179,-20.000000,0,0,1,DL
9,46,FSD,DFW,422,-8.000000,148.0,737,570,-18.000000,0,0,7,EV
10,161,BOI,SAN,450,-4.000000,127.0,749,517,-2.000000,0,0,3,OO
11,24,PDX,PSP,695,-10.000000,136.0,873,831,-13.000000,0,0,6,AS
12,155,HNL,ATL,950,21.000000,498.0,4502,368,9.000000,0,0,4,DL
13,256,LAX,LAS,670,39.000000,74.0,236,744,27.000000,0,0,7,DL
14,291,OMA,DEN,1245,-1.000000,99.0,472,1284,-16.000000,0,0,7,UA
15,187,LGA,MDW,1075,0.000000,155.0,725,1170,-4.000000,0,0,1,WN
16,127,IND,BWI,800,21.000000,100.0,516,900,7.000000,0,0,4,WN
17,2,DFW,MLI,910,49.000000,113.0,691,1023,44.000000,0,0,5,MQ
18,352,EWR,SEA,1040,-7.000000,389.0,2402,1249,-20.000000,0,0,5,AS
19,43,BOS,CLT,529,3.000000,150.0,728,679,9.000000,0,0,4,B6
20,174,MIA,STT,655,-6.000000,165.0,1107,820,-16.000000,0,0,2,AA
21,264,SJC,SEA,765,-10.000000,114.0,697,879,-8.000000,0,0,1,AS
22,317,MEI,DFW,481,-7.000000,114.0,485,595,-20.000000,0,0,5,EV
23,281,CLT,MCI,974,13.000000,147.0,808,1061,10.000000,0,0,4,AA
24,35,SLC,EWR,580,-10.000000,267.0,1969,967,-34.000000,0,0,3,DL
25,211,MDW,OKC,505,-1.000000,125.0,691,630,-13.000000,0,0,4,WN
26,52,PHX,GEG,530,-8.000000,170.0,1020,640,-16.000000,0,0,6,AA
27,11,LGA,CHO,749,3.000000,89.0,305,838,-16.000000,0,0,7,MQ
28,1,CID,ORD,905,9.370158,80.0,196,985,4.407057,0,1,4,MQ
29,55,PHX,SNA,1080,2.000000,76.0,338,1096,-7.000000,0,0,2,AA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
581878,309,DFW,TUL,940,-5.000000,64.0,237,1004,13.000000,0,0,4,AA
581879,203,DEN,MSY,600,-5.000000,155.0,1062,815,-19.000000,0,0,3,WN
581880,288,IAH,OKC,941,-5.000000,91.0,395,1032,-4.000000,0,0,4,EV
581881,37,LAS,AUS,650,-1.000000,155.0,1090,925,2.000000,0,0,5,WN
581882,246,DEN,FAR,1190,-6.000000,115.0,627,1365,-7.000000,0,0,4,OO
581883,28,MIA,IAH,863,9.370158,177.0,964,980,4.407057,0,1,3,UA
581884,90,DCA,ATL,539,-6.000000,129.0,547,668,-25.000000,0,0,2,DL
581885,270,MCO,MIA,710,-7.000000,64.0,192,774,-11.000000,0,0,7,AA
581886,27,DFW,GRK,1105,-8.000000,46.0,134,1151,-14.000000,0,0,2,MQ
581887,50,MSP,SEA,1060,0.000000,229.0,1399,1169,-12.000000,0,0,4,DL
581888,148,MSP,SMF,1195,-2.000000,234.0,1517,1309,-22.000000,0,0,4,DL
581889,103,MCO,ACY,877,7.000000,133.0,852,1010,26.000000,0,0,1,NK
581890,283,SJC,SEA,585,208.000000,123.0,697,708,201.000000,0,0,6,AS
581891,66,SFO,IAH,505,-3.000000,217.0,1635,842,3.000000,0,0,6,UA
581892,251,IAH,DFW,890,-7.000000,75.0,224,965,-3.000000,0,0,2,AA
581893,150,ORD,SNA,1175,11.000000,256.0,1726,1311,-13.000000,0,0,6,UA
581894,206,SAN,SEA,405,7.000000,180.0,1050,585,-18.000000,0,0,6,WN
581895,247,SFO,BFL,518,-11.000000,74.0,238,592,-19.000000,0,0,5,OO
581896,124,EWR,IAH,827,13.000000,225.0,1400,992,-23.000000,0,0,1,UA
581897,146,SNA,IAH,777,10.000000,191.0,1346,1088,1.000000,0,0,2,UA
581898,82,DAL,MDW,1080,89.000000,130.0,793,1210,81.000000,0,0,1,WN
581899,235,SAN,LAX,390,-7.000000,59.0,109,449,-9.000000,0,0,7,OO
581900,348,DEN,SAT,1210,153.000000,125.0,794,1395,163.000000,0,0,1,WN
581901,70,SFO,LGB,782,-5.000000,81.0,354,863,-9.000000,0,0,3,B6
581902,275,MSY,IAH,1150,53.000000,74.0,305,1224,39.000000,0,0,5,UA
581903,148,HOU,CRP,1090,21.000000,50.0,187,1140,12.000000,0,0,4,WN
581904,32,LAX,SJC,1145,69.000000,65.0,308,1210,62.000000,0,0,7,WN
581905,203,DEN,CPR,480,-5.000000,62.0,230,542,-4.000000,0,0,3,OO
581906,63,FLL,EWR,1277,9.370158,169.0,1065,6,4.407057,0,1,3,B6
581907,329,ATL,DTW,560,0.000000,116.0,594,676,-1.000000,0,0,3,DL

In [83]:
df2.to_csv("allYearFlights.csv")

In [90]:
df2.SCHEDULED_DEPARTURE = df2.SCHEDULED_DEPARTURE.astype("str")
df2.SCHEDULED_ARRIVAL = df2.SCHEDULED_ARRIVAL.astype("str")
df2.DEPARTURE_DELAY = df2.DEPARTURE_DELAY.astype("int")
df2.SCHEDULED_TIME = df2.SCHEDULED_TIME.astype("int")
df2.ARRIVAL_DELAY = df2.ARRIVAL_DELAY.astype("int")

In [92]:
df2.to_csv("allYearFlights.csv")

In [93]:
df2['is_delay'] = df2['DEPARTURE_DELAY'] > 0

In [102]:
df2[df2['is_delay']==1].groupby(['ORIGIN_AIRPORT']).size().sort_values(ascending=False)

ORIGIN_AIRPORT
ATL    14320
ORD    13953
DFW    10809
DEN     9821
LAX     9065
IAH     6705
PHX     6562
SFO     6441
LAS     6277
EWR     5257
MCO     4885
MDW     4602
BWI     4540
SEA     4520
BOS     4468
LGA     4253
CLT     4238
DTW     3962
JFK     3939
MSP     3849
DAL     3516
MIA     3144
SLC     2979
FLL     2974
SAN     2914
PHL     2771
HOU     2767
DCA     2651
TPA     2589
OAK     2089
       ...
MVY       12
IAG       11
LAR       11
GUC       11
BJI       11
PLN       11
BRD       10
UST       10
MMH        9
DIK        9
ESC        8
PIH        8
BGR        8
BTM        8
EKO        7
MQT        7
ADK        7
PUB        6
ILG        6
BGM        5
AKN        5
PPG        5
APN        4
LWS        4
GST        2
VEL        2
CEC        2
CNY        2
HYA        1
DLG        1
Length: 319, dtype: int64

In [115]:
df2.groupby(['ORIGIN_AIRPORT']).size().sort_values(ascending=False)

ORIGIN_AIRPORT
ATL    37851
ORD    31488
DFW    26138
DEN    21472
LAX    21378
PHX    16097
SFO    16030
IAH    15830
LAS    14781
SEA    12334
MSP    12224
MCO    12004
DTW    11786
BOS    11752
EWR    11189
CLT    10936
LGA    10818
SLC    10730
JFK    10161
BWI     9279
MDW     8837
DCA     8098
FLL     7802
SAN     7604
MIA     7517
PHL     7313
TPA     6959
DAL     6515
HOU     5660
PDX     5237
       ...
HYS       58
BLI       55
GUM       52
APN       52
SWF       52
ADQ       46
GUC       42
BGM       36
BGR       35
MQT       33
OTH       33
IAG       26
PBG       25
UST       24
VEL       23
PUB       23
MMH       22
MVY       17
CNY       13
ILG       12
PPG       11
WYS       11
ADK       10
HYA        8
AKN        8
DLG        8
CEC        6
GST        5
STC        4
ITH        1
Length: 322, dtype: int64

In [103]:
df2[df2['is_delay']==1].groupby(['airline']).size().sort_values(ascending=False)

airline
WN    58494
AA    32422
DL    28571
UA    26385
EV    18601
OO    18059
MQ    10782
B6    10541
AS     6876
NK     5255
F9     3464
HA     2046
dtype: int64

In [104]:
df2[df2['is_delay']==1].groupby(['DAY_OF_YEAR']).size().sort_values(ascending=False)

DAY_OF_YEAR
363    1182
364    1108
4      1086
362    1085
64     1033
61     1018
357    1009
5       995
65      977
361     975
47      972
168     949
57      942
33      936
3       934
48      924
166     916
169     913
356     906
232     905
60      898
177     894
167     891
196     889
53      883
189     873
173     869
6       861
62      861
54      857
       ...
286     363
279     356
331     356
24      354
108     353
300     350
250     349
290     346
144     346
31      342
311     338
241     333
346     332
343     329
262     328
17      325
122     323
255     315
266     312
248     311
269     299
265     299
244     297
342     291
38      276
185     269
249     264
318     264
339     248
330     206
Length: 365, dtype: int64

In [105]:
df2[df2['is_delay']==1].groupby(['ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']).size().sort_values(ascending=False)

ORIGIN_AIRPORT  DESTINATION_AIRPORT
LAX             SFO                    699
SFO             LAX                    637
ORD             LAX                    521
LAX             JFK                    506
ORD             SFO                    492
JFK             LAX                    464
ORD             LGA                    447
LAX             LAS                    438
ATL             LGA                    428
LAS             LAX                    421
ORD             DFW                    419
LAS             SFO                    401
DFW             ORD                    386
                LAX                    385
LAX             ORD                    384
ATL             FLL                    383
DAL             HOU                    374
LGA             ORD                    371
LAX             PHX                    363
ORD             MSP                    359
DEN             PHX                    356
SFO             ORD                    352
LAX             OAK                    349
ORD             BOS                    347
                DEN                    346
IAH             LAX                    345
SFO             JFK                    342
PHX             DEN                    339
SEA             SFO                    336
DEN             LAX                    335
                                      ...
SLC             ANC                      1
LBB             HOU                      1
IAD             CVG                      1
                CMH                      1
CHS             SEA                      1
LBE             ORD                      1
                TPA                      1
DLG             ANC                      1
STX             CLT                      1
PDX             FAT                      1
RSW             FNT                      1
CVG             SEA                      1
                MCI                      1
PDX             LIH                      1
IAH             GUC                      1
SWF             DTW                      1
RSW             ISP                      1
MSP             MBS                      1
RSW             HOU                      1
DFW             MYR                      1
IAD             UST                      1
CVG             DCA                      1
IAH             BZN                      1
LAS             CAK                      1
CRW             MYR                      1
TVC             EWR                      1
                LGA                      1
CRP             ATL                      1
MSP             BMI                      1
BNA             MIA                      1
Length: 4381, dtype: int64

In [110]:
total_by_date_airline = df2.groupby(['DAY_OF_YEAR','airline']).size() * 8

In [111]:
total_by_date_airline.type()

AttributeError: 'Series' object has no attribute 'type'

In [114]:
df2[df2['is_delay']==1].groupby(['airline']).size().sort_values(ascending=False)

airline
WN    58494
AA    32422
DL    28571
UA    26385
EV    18601
OO    18059
MQ    10782
B6    10541
AS     6876
NK     5255
F9     3464
HA     2046
dtype: int64