In [43]:
cd /Users/zhixuandai/Documents/uc\ berkeley/InfoViz/flights

/Users/zhixuandai/Documents/uc berkeley/InfoViz/flights

In [44]:
pwd

'/Users/zhixuandai/Documents/uc berkeley/InfoViz/flights'

In [45]:


df = pd.read_csv('./flights.csv', sep=',', header=0)

In [46]:
df_raw = df[['ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']]

In [47]:
df_airport = pd.read_csv('./L_AIRPORT.csv', sep=',', header=0)

In [48]:
df_airport[["City","Desc", "1", "2"]] = df_airport["Description"].str.split(",",expand = True)

In [49]:
df_airport[["State", "AirportName"]] = df_airport["Desc"].str.split(":",expand = True)

In [50]:
# final version of airport data without longitute, latitude
df_airport = df_airport.drop(['Description', 'Desc','1','2'], axis=1)

In [51]:
pwd

'/Users/zhixuandai/Documents/uc berkeley/InfoViz/flights'

In [56]:

import pandas as pd   
df2 = pd.read_csv('./airports.dat', sep ='\t', engine = 'python')
df2.drop(['airport-name'], axis=1)

     airport-id  latitude  longitude
0           AAA  -17.3542  -145.4961
1           AAC   31.0733    33.8358
2           AAE   36.8222     7.8094
3           AAF   29.7275   -85.0274
4           AAG  -24.1036   -49.7900
5           AAL   57.0928     9.8492
6           AAM  -24.8181    31.5446
7           AAN   24.2617    55.6092
8           AAQ   45.0017    37.3483
9           AAR   56.3000    10.6190
10          AAT   47.7200    88.1500
11          AAX  -19.5603   -46.9653
12          AAY   16.1917    52.1750
13          ABA   53.7417    91.3850
14          ABB    6.1978     6.7285
15          ABC   38.9480    -1.8630
16          ABD   30.3667    48.2333
17          ABE   40.6521   -75.4408
18          ABH  -23.6583   146.5917
19          ABI   32.4113   -99.6819
20          ABJ    5.2544    -3.9286
21          ABK    6.7340    44.2530
22          ABL   67.1063  -157.8575
23          ABM  -10.9500   142.4600
24          ABQ   35.0402  -106.6092
25          ABR   45.4490   -98.4218
26          ABS   22.3758    31.6117
27          ABT   20.2961    41.6342
28          ABU   -9.0429   124.5412
29          ABV    9.0069     7.2631
...         ...       ...        ...
5787        ZSA   24.0631   -74.5237
5788        ZSE  -21.3216    55.4256
5789        ZSJ   53.0642   -93.3445
5790        ZSY   33.6229  -111.9105
5791        ZTA  -20.7706  -138.5686
5792        ZTB   50.6744   -59.3836
5793        ZTC   45.0600     7.6600
5794        ZTF   40.8440   -73.8410
5795        ZTH   37.7511    20.8842
5796        ZTM   55.8647   -92.0814
5797        ZTT   51.7689    14.2978
5798        ZTU   41.5592    46.6668
5799        ZUD  -41.9039   -73.7975
5800        ZUH   22.0083   113.3783
5801        ZUM   53.5619   -64.1064
5802        ZVE    6.0833   -58.1333
5803        ZVK   16.5567   104.7594
5804        ZVR   52.3760     9.7410
5805        ZWE   51.2167     4.4000
5806        ZWI  -32.6500   138.1000
5807        ZWL   58.1069  -103.1722
5808        ZWS   48.6899     9.2220
5809        ZYI   27.5900   106.9997
5810        ZYL   24.9613    91.8716
5811        ZYN   43.8667     4.4000
5812        ZYR   50.8483     4.3496
5813        ZYZ   51.2167     4.4167
5814        ZZO   50.6683   142.7600
5815        ZZU  -11.4448    34.0118
5816        ZZV   39.9445   -81.8921

[5817 rows x 3 columns]

In [57]:
new_df = df2.join(df_airport.set_index('Code'), on='airport-id', how='inner')

In [58]:
new_df = new_df[new_df['State'].str.strip().str.len()==2]

In [64]:
final_airport = new_df.drop(['airport-name'],axis=1)

In [77]:
final_airport.to_csv("USAirport.csv")

In [81]:
departure_airport = final_airport.rename(index=str, columns={"latitude": "de-latitude", "longitude": "de-longitude"})

In [82]:
departure_airport.drop(['City','State','AirportName'],axis=1,inplace=True)

In [83]:
arrival_airport = departure_airport.rename(index=str, columns={"de-latitude": "arr-latitue", "de-longitude": "arr-longitude"})

In [85]:
df_ts1 = df_raw.join(departure_airport.set_index('airport-id'), on='ORIGIN_AIRPORT', how='inner')

In [86]:
df_ts2 = df_ts1.join(arrival_airport.set_index('airport-id'), on='DESTINATION_AIRPORT', how='inner')

In [89]:
df_ts2.to_csv("flightsWithCordinates.csv")